.container {
    padding: 15px;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
    text-align: center;
    margin: 100px auto;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#main {
    position: relative;
}
.container h3 {
    margin-top: 0;
}

button#new-btn {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    font-size: 15px;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* iPhoneで滑らかに */
}

table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
    border: 2px solid white;
    table-layout: fixed;
}


table tr {
    border: 1px solid gray;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    height: 50px;
    cursor: pointer;
}
th, td {
    white-space: nowrap;
}
.submitted {
    display: inline-block;
    background-color: #abc6ff;
    border-radius: 5px;
    padding: 3px 0;
    width: 90px;
    font-weight: 500;
    color: #333;

}
.approved {
    display: inline-block;
    background-color: #83ffbb;
    border-radius: 5px;
    padding: 3px 0;
    width: 90px;
    font-weight: 500;
    color: #333;

}
.rejected {
    display: inline-block;
    background-color: #ffa099;
    border-radius: 5px;
    padding: 3px 0;
    width: 90px;
    font-weight: 500;
    color: #333;

}

.message {
    font-size: 20px; 
    margin: 20px; 
    display: none;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        min-width: 0;
        max-width: none;
    }
}